.homepage-footer {
    background-color: $ethern8-color-background-blue;
    color: $ethern8-color-font-on-dark;
    display: flex;
    border-top: 30px solid $ethern8-color-background-hero;
    position: relative;
    // background: url('../assets/White_friendly_mtns.svg') no-repeat bottom center;
    // min-height: 40vh;
}

.homepage-footer__logo-container {
    flex: 2 1 auto;
    position: relative;
    overflow: hidden;
}

.homepage-footer__logo {
    bottom: 0;
    color: $ethern8-color-background-hero;
    font-family: 'Pacifico', cursive;
    font-size: 200px;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    left: 0;
    transform: translate(20px, 20px) rotate(-7deg);
    opacity: 0.2;
    
}

.homepage-footer__list {
    display: flex;
    flex-flow: column nowrap;
    flex: 1 1 auto;
    list-style-type: none;
    margin: $ethern8-space-utility-two-x $ethern8-space-utility-one-and-half-x;
    padding:0;
    align-self: center;
    justify-content: center;
    z-index: 2;
}

.homepage-footer__list-item {
    margin:0;
    padding:0;

    & + & {
        margin-top: $ethern8-space-utility-three-quarter-x;
    }
}

.homepage-footer__link {
    display: flex;
    align-items: center;

    ethern8-icon {
        margin-right: $ethern8-space-utility-half-x;
    }

    &:link {
        color: $ethern8-color-background-hero;
        text-decoration: underline;
    }
    &:visited {
        color: $ethern8-color-font-on-dark;
    }
    &:hover {
        text-decoration: none;
    }
    &:active {}

    &:focus {
        box-shadow: none;
        outline: 1px dotted $ethern8-color-font-on-dark;
        outline-offset: 3px;
    }
}