.homepage-cv {
    max-width: 80ch;
    margin: 8rem auto;
}
.homepage-cv__heading-level-3 {
    font-size: $ethern8-size-font-heading-level-4;
    font-weight: bold;
    margin: 0;
    margin-top: 2rem;
    padding: 0;
    
    &:first-of-type,
    .homepage-cv__eyebrow + & {
        margin-top: 0;
    }
}
.homepage-cv__heading-level-5 {
    font-size: $ethern8-size-font-heading-level-5;
    color: $ethern8-color-font-gray-on-light;
    margin: 0;
    padding: 0;
}
.homepage-cv__eyebrow {
    color: $ethern8-color-font-blue-on-light;
    font-size: $ethern8-size-font-heading-level-6;
    font-weight: bold;
    margin: 0;
    margin-top: 4rem;
    padding: 0;
    text-transform: uppercase;
    &:first-of-type {
        margin-top: 0;
    }
}
.homepage-cv__list {
    font-size: $ethern8-size-font-medium;
    margin: 0;
    margin-top: 0.5rem;
    padding: 0;
    padding-left: 1rem;
}