.homepage-footer {
    background-color: $ethern8-color-background-red;
    border-top: 50px solid #FAA393;
    // background: url('../assets/White_friendly_mtns.svg') no-repeat bottom center;
    min-height: 30vh;
}