@import 'node_modules/@ethern8/tokens/build/scss/variables';

$phi: 1.6180339887498948482; // golden ratio experiment

.homepage-hero {
    display: grid;
    position: relative;
    height: 100vh;
}

.homepage-hero__title-container {
    background-color: $ethern8-color-background-hero;
    background-image: url('../assets/Asset_6.svg');
    background-repeat: round;
    background-position: center;
    color: $ethern8-color-background-light;

    top: 0;
    bottom: 20vh;
    right: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    z-index: 1;
}

.homepage-hero__title {
    bottom: 0;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 200px;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    transform: translate(20px, 20px) rotate(-7deg);

    @media screen and (max-width: 32em) {
        font-size: 120px;
    }
}

.homepage-hero__lede {
    color: $ethern8-color-font-blue-on-light;
    font-size: $ethern8-size-font-large; // used to be 1.5rem
    font-weight: 300;
    justify-self: end;
    margin: 80vh 0 0;
    padding: $ethern8-space-utility-one-x;
    text-transform: lowercase;
    z-index: 2;
}

.homepage-hero__lede-emphasis {
    color: $ethern8-color-font-gray-on-light;
}

.homepage-hero__guide {
    justify-self: center;
    align-self: end;
    color: $ethern8-color-font-blue-on-light;
    z-index: 3;
    animation: pointDown 2s easeOut 0 infinite forward none;
}

@keyframes pointDown {
    0% {
        opacity: 0;
        transform: translateY(0);
    }

    100% {
        opacity: 1;
        transform: translateY(64px);
    }

}