@import 'node_modules/@ethern8/tokens/build/scss/variables';

$phi: 1.6180339887498948482; // golden ratio experiment

.homepage-hero {
    background-color: $ethern8-color-background-hero;
    background-image: url('../assets/Asset_6.svg');
    background-repeat: round round;
    display: grid;
    position: relative;
    justify-content: end;
    height: 80vh;
    margin-bottom: 20vh;
}

.homepage-hero__title-container {
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
}

.homepage-hero__title {
    bottom: 0;
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 200px;
    line-height: 1;
    margin: 0;
    padding: 0;
    position: absolute;
    right: 0;
    transform: translate(20px, 20px) rotate(-7deg);

    @media screen and (max-width: 32em) {
        bottom: auto;
        right: auto;
        top: 0;
        transform: translate(20px, 210px) rotate(-90deg);
    }
}

.homepage-hero__lede {
    color: darkblue;
    font-size: 1.5rem;
    font-weight: 300;
    margin: 0 2rem 0 0;
    padding: 0;
    transform: translate(0, 3rem);
    text-transform: lowercase;
    align-self: end;
}
.homepage-hero__lede-emphasis {
    color: $ethern8-color-base-gray-medium;
}