$ethern8-homepage-about-top-padding: 155px;

.homepage-about {
    background-color: $ethern8-color-background-dark-gray;
    background-image: url('../assets/mountain_range_03.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-clip: border-box;
    color: $ethern8-color-font-on-dark;
    margin-top: calc(#{$ethern8-space-utility-three-x} + #{$ethern8-homepage-about-top-padding});
    padding: $ethern8-homepage-about-top-padding 0 0;
    position: relative;
    display:grid;
    align-items: center;
    &:after {
        content:'';
        display: block;
        position: relative;
        background-color: $ethern8-color-background-white;
        background-image: url('../assets/bottom2.svg');
        background-repeat: no-repeat;
        background-position: center bottom;
        background-clip: border-box;
        background-size: cover;
        height: 112px;
    }
}
    
.homepage-about__container {
    display:grid;
    column-gap: $ethern8-space-utility-two-x;
    row-gap: $ethern8-space-utility-two-x;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    margin: 0 auto;
    padding: 0 $ethern8-space-utility-two-x;
    max-width: 80ch;
    @media screen and (min-width: 32em){
        grid-template-columns: min-content 1fr;
    }
}

.homepage-about__image-container {
    order: 2;
    @media screen and (min-width: 32em){
        order: 1;
    }
}

.homepage-about__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: thin solid $ethern8-color-base-gray-light;
    border-radius: 50%;
    height: $ethern8-size-avatar-medium;
    object-fit: cover;
    object-position: center right;
    width: $ethern8-size-avatar-medium;
    margin-bottom: $ethern8-space-utility-one-and-half-x;
    
}

.homepage-about__content {
    display: block;
    order: 1;
    @media screen and (min-width: 32em){
        order: 2;
    }

    p {
        margin-top: $ethern8-space-utility-one-x;
        &:first-of-type {
            margin-top: 0;
        }
    }
    
    &:first-letter {
        display: block;
        padding-right: $ethern8-space-utility-half-x;
        font-size: $ethern8-space-utility-two-x;
        font-family: 'Pacifico', cursive;
    }
    @supports(initial-letter){
        &:first-letter {
            display: inline;
            initial-letter: 2;
            padding-right: 0;
            font-size: inherit;
        }
    }
}