.homepage-about {
    background-color: $ethern8-color-background-dark-gray;
    background-image: url('../assets/mountain_range_03.svg');
    background-repeat: no-repeat;
    background-position: center top;
    background-clip: border-box;
    color: $ethern8-color-font-on-dark;
    margin-top: calc(3rem + 155px);
    padding: 155px 2rem 77px;
    position: relative;
    display:grid;
    align-items: center;
}
    
.homepage-about__container {
    display:grid;
    column-gap: 2rem;
    row-gap: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: min-content min-content;
    margin: 0 auto;
    max-width: 80ch;
    @media screen and (min-width: 32em){
        grid-template-columns: min-content 1fr;
    }
}

.homepage-about__image-container {
    order: 2;
    @media screen and (min-width: 32em){
        order: 1;
    }
}

.homepage-about__image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: thin solid $ethern8-color-base-gray-light;
    border-radius: 50%;
    height: $ethern8-size-avatar-medium;
    object-fit: cover;
    object-position: center right;
    width: $ethern8-size-avatar-medium;
    margin-bottom: 1.5rem;
    
}

.homepage-about__content {
    display: block;
    order: 1;
    @media screen and (min-width: 32em){
        order: 2;
    }

    p {
        margin-top: 1rem;
        &:first-of-type {
            margin-top: 0;
        }
    }
    
    &:first-letter {
        display: block;
        padding-right: 0.5rem;
        font-size: 2rem;
        font-family: 'Pacifico', cursive;
    }
    @supports(initial-letter){
        &:first-letter {
            display: inline;
            initial-letter: 2;
            padding-right: 0;
            font-size: inherit;
        }
    }
}