/*  */
html {
  background-color: #ffffff;
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 1.5;
}

.ethern8-icon-root {
  display: inline-block;
  position: relative;
  fill: none;
  stroke: currentColor;
  width: 24px;
  height: 24px;
  color: currentColor;
}

.homepage-layout__main {
  display: grid;
  height: 100vh;
}

.homepage-hero {
  display: grid;
  position: relative;
  height: 100vh;
}

.homepage-hero__title-container {
  background-color: #adcee1;
  background-image: url("../assets/Asset_6.svg");
  background-repeat: round;
  background-position: center;
  color: #fefff1;
  top: 0;
  bottom: 20vh;
  right: 0;
  left: 0;
  overflow: hidden;
  position: absolute;
  z-index: 1;
}

.homepage-hero__title {
  bottom: 0;
  color: white;
  font-family: "Pacifico", cursive;
  font-size: 200px;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  right: 0;
  transform: translate(20px, 20px) rotate(-7deg);
}
@media screen and (max-width: 32em) {
  .homepage-hero__title {
    font-size: 120px;
  }
}

.homepage-hero__lede {
  color: #25405b;
  font-size: 1.5rem;
  font-weight: 300;
  justify-self: end;
  margin: 80vh 0 0;
  padding: 1rem;
  text-transform: lowercase;
  z-index: 2;
}

.homepage-hero__lede-emphasis {
  color: #707070;
}

.homepage-hero__guide {
  justify-self: center;
  align-self: end;
  color: #25405b;
  z-index: 3;
}

.homepage-about {
  background-color: #444444;
  background-image: url("../assets/mountain_range_03.svg");
  background-repeat: no-repeat;
  background-position: center top;
  background-clip: border-box;
  color: #ffffff;
  margin-top: calc(3rem + 155px);
  padding: 155px 0 0;
  position: relative;
  display: grid;
  align-items: center;
}
.homepage-about:after {
  content: "";
  display: block;
  position: relative;
  background-color: #ffffff;
  background-image: url("../assets/bottom2.svg");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-clip: border-box;
  background-size: cover;
  height: 112px;
}

.homepage-about__container {
  display: grid;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  row-gap: 2rem;
  grid-template-columns: 1fr;
  grid-template-rows: -webkit-min-content -webkit-min-content;
  grid-template-rows: min-content min-content;
  margin: 0 auto;
  padding: 0 2rem;
  max-width: 80ch;
}
@media screen and (min-width: 32em) {
  .homepage-about__container {
    grid-template-columns: -webkit-min-content 1fr;
    grid-template-columns: min-content 1fr;
  }
}

.homepage-about__image-container {
  order: 2;
}
@media screen and (min-width: 32em) {
  .homepage-about__image-container {
    order: 1;
  }
}

.homepage-about__image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: thin solid #cccccc;
  border-radius: 50%;
  height: 15rem;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center right;
     object-position: center right;
  width: 15rem;
  margin-bottom: 1.5rem;
}

.homepage-about__content {
  display: block;
  order: 1;
}
@media screen and (min-width: 32em) {
  .homepage-about__content {
    order: 2;
  }
}
.homepage-about__content p {
  margin-top: 1rem;
}
.homepage-about__content p:first-of-type {
  margin-top: 0;
}
.homepage-about__content:first-letter {
  display: block;
  padding-right: 0.5rem;
  font-size: 2rem;
  font-family: "Pacifico", cursive;
}
@supports (initial-letter) {
  .homepage-about__content:first-letter {
    display: inline;
    initial-letter: 2;
    padding-right: 0;
    font-size: inherit;
  }
}

.homepage-cv {
  max-width: 80ch;
  margin: 8rem auto;
  padding: 0 1rem;
}

.homepage-cv__heading-level-3 {
  font-size: 1.25rem;
  font-weight: bold;
  margin: 0;
  margin-top: 2rem;
  padding: 0;
}
.homepage-cv__heading-level-3:first-of-type, .homepage-cv__eyebrow + .homepage-cv__heading-level-3 {
  margin-top: 0;
}

.homepage-cv__heading-level-5 {
  font-size: 1rem;
  color: #707070;
  margin: 0;
  padding: 0;
}

.homepage-cv__eyebrow {
  color: #25405b;
  font-size: 0.75rem;
  font-weight: bold;
  margin: 0;
  margin-top: 4rem;
  padding: 0;
  text-transform: uppercase;
}
.homepage-cv__eyebrow:first-of-type {
  margin-top: 0;
}

.homepage-cv__list {
  font-size: 1rem;
  margin: 0;
  margin-top: 0.5rem;
  padding: 0;
  padding-left: 1rem;
}

.homepage-footer {
  background-color: #25405b;
  color: #ffffff;
  display: flex;
  border-top: 30px solid #adcee1;
  position: relative;
}

.homepage-footer__logo-container {
  flex: 2 1 auto;
  position: relative;
  overflow: hidden;
}

.homepage-footer__logo {
  bottom: 0;
  color: #adcee1;
  font-family: "Pacifico", cursive;
  font-size: 200px;
  line-height: 1;
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
  transform: translate(20px, 20px) rotate(-7deg);
  opacity: 0.2;
}

.homepage-footer__list {
  display: flex;
  flex-flow: column nowrap;
  flex: 1 1 auto;
  list-style-type: none;
  margin: 2rem 1.5rem;
  padding: 0;
  align-self: center;
  justify-content: center;
  z-index: 2;
}

.homepage-footer__list-item {
  margin: 0;
  padding: 0;
}
.homepage-footer__list-item + .homepage-footer__list-item {
  margin-top: 0.75rem;
}

.homepage-footer__link {
  display: flex;
  align-items: center;
}
.homepage-footer__link ethern8-icon {
  margin-right: 0.5rem;
}
.homepage-footer__link:link {
  color: #adcee1;
  text-decoration: underline;
}
.homepage-footer__link:visited {
  color: #ffffff;
}
.homepage-footer__link:hover {
  text-decoration: none;
}
.homepage-footer__link:focus {
  box-shadow: none;
  outline: 1px dotted #ffffff;
  outline-offset: 3px;
}